p {
    font-weight: bold;
}
span {
    font-style: italic;
}
d3 {
    text-transform: uppercase;
    text-transform: capitalize;
}
#d41, #d43, #d45{
    text-decoration: line-through;
}
#d42,#d44 {
    text-decoration: underline;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: yellowgreen;
}
#d6 {
    text-transform: capitalize;
}
#d7 {
    text-decoration: line-through;
}
#d71 {
    text-decoration: underline;
}
:hover.d81{
    
    color: blue;
}
:hover.d82{
    font-size: large;
}
:hover.d83{
    text-decoration: underline;
    
}
.submit :focus{
    background-color: green;
    color:black;
    border: 7px;
}
.d10 {
    background-color: red;
    color: white;
    border-radius: 50%;
    border: 1px solid blue;

}